body {
    font-family: "calibri";
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    width: 100%;
    background-color: #262626;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: white;
    padding: 0px;
}

img {
    width: 80px; 
}

nav {
    display: flex;
    justify-content: center; 
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.ul1 {
    margin-left: 110px;
}

.ul2 {
    margin-right: 0px;
}

table {
    width: 1250px;
    margin: 10px auto;
    border-collapse: collapse;
    border-radius: 100px;
}

.table2 {
    width: 300px;
    margin: 10px auto;
    border-collapse: collapse;
    border-radius: 100px;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody {
    background-color: #fcfcfcb9;
}

td {
    border: 1px solid #949393;
}

th {
    text-align: center;
    border: 1px solid #413d3d9f;
    background-color: #262626;
    color: white;
}

tr:hover {
    background-color: #f0f0f0bb; 
}

h1 {
    color: black;
    font-size: 20px;
    margin-left: 35px;
    margin-top: 25px;
}

table button {
    width: 100%;
    font-family: "calibri";
    background-color: #F25922;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

table button:hover {
    background-color: #ff4400;
}

select {
    width: 100%;
    border: 0px solid #ffffff;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form2 {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 10px auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.input-gruop {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.button2 {
    margin-top: 25px;
    font-family: "calibri";
    width: 90%;
    padding: 5px;
    background-color: #F25922;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.button2:hover {
    background-color: #ff4400;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #262626;
    border-radius: 10px;
}

.h11 {
    text-align: center;
}