body {
    font-family: "calibri";
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    width: 100%;
    background-color: #262626;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: white;
    padding: 0px;
}

img {
    width: 80px; 
}

nav {
    display: flex;
    justify-content: center; 
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

table {
    width: 800px;
    margin: 10px auto;
    border-collapse: collapse;
    border-radius: 100px;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody {
    background-color: #fcfcfcb9;
}

td {
    text-align: center;
    border: 1px solid #949393;
}

th {
    text-align: center;
    border: 1px solid #413d3d9f;
    background-color: #262626;
    color: white;
}

tr:hover {
    background-color: #f0f0f0bb; 
}

h1 {
    font-family: "Helvetica Now", Arial, sans-serif;
    color: rgba(255, 255, 255, 0.719);
    font-size: 26px;
    text-align: center;
    margin-top: 25px;
}

table button {
    width: 100%;
    font-family: "calibri";
    background-color: #4a8f00;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

table button:hover {
    background-color: #8CBF1F;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.modal_container {
    margin: auto;
    width: 70%;
    max-width: 400px;
    max-height: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 1.5em 2.5em;
    place-items: center;
    grid-template-columns: 100%;
}

.modal_title {
    text-align: center;
    margin-top: 5px;
    font-size: 1.7em;
}

.modal_paragraph {
    margin-bottom: 10px;
}

.modal_close {
    margin-right: auto;
    text-decoration: none;
    color: #fff;
    background-color: #4a8f00;
    padding: 10px 15px;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal_close:hover {
    color: #4a8f00;
    background-color: #fff;
}

.inscribirse {
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #4a8f00;
    padding: 10px 15px;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.inscribirse:hover {
    color: #4a8f00;
    background-color: #fff;
}

.modal_show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}
